
body {
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, red, blue);
    padding: 30px 20px;
    text-align: center;
    color: white;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

header p {
    font-size: 1.2rem;
    margin: 10px 0;
}

.cta-btn {
    background-color: #ff3366;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: #cc2a52;
}

main {
    padding: 10px 10px;
}

.productos {
    margin: 5px 0;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ff3366;
    text-align: center;
}

h3 {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #ff3366;
    text-align: left;
}

.juegos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.juego {
    border: 2px solid #ff3366;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: 200px;
    box-sizing: border-box;
}

.juego img {
    width: 150px;  
    height: 150px; 
    object-fit: cover;
    display: block; 
    margin: 0 auto; 
    border-radius: 8px;
}
.detalle-juego img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.juego p {
    font-size: 15px;
    color: white;
    margin-top: 10px;
}


